In [1]:
import pandas as pd

Goals: Calculate fantasy points, avg ppg, FIP, xFIP, SIERRA, K-BB, Track Average velocities of pitches for the year 2023 only

Secondary Goal:Figure out starting defense of every team, Calculate cumulative OAA of the team or use some other metric to determine which teams have the best defenses.

Import the csv file containing 6 separate sheets(for each year) of copied data from fangraphs, create a dictionary of dataframes(where each sheet is a dataframe)

In [2]:
#Import csv files (minimum 70 IP)
import pandas as pd

# Specify the path to your Excel file
excel_file_path = 'C:/Users/dkcar/Downloads/MajorLeaguePitchersAdvancedStats.xlsx'

# Use pandas to read the Excel file
xls = pd.ExcelFile(excel_file_path)

# Create a dictionary of DataFrames, where keys are sheet names and values are DataFrames
dfs = {sheet_name: xls.parse(sheet_name) for sheet_name in xls.sheet_names}

# Access individual DataFrames using sheet names

__2023Standard = dfs[xls.sheet_names[0]]
__2023Advanced = dfs[xls.sheet_names[1]]
__2022Standard = dfs[xls.sheet_names[2]]
__2022Advanced = dfs[xls.sheet_names[3]]
__2021Standard = dfs[xls.sheet_names[4]]
__2021Advanced = dfs[xls.sheet_names[5]]

In [3]:
__2023Advanced.head()

,Name,Team,K/9,BB/9,K/BB,K%,BB%,K-BB%,AVG,WHIP,BABIP,LOB%,FIP,E-F,xFIP,SIERA
0,Adam Wainwright,STL,4.90,3.65,1.34,0.114,0.085,0.029,0.342,1.90,0.357,0.630,5.99,1.41,5.77,5.83
1,Alek Manoah,TOR,8.14,6.08,1.34,0.190,0.142,0.048,0.268,1.74,0.308,0.714,6.01,-0.14,5.85,5.65
2,Luis L. Ortiz,PIT,6.13,4.98,1.23,0.148,0.120,0.028,0.283,1.70,0.309,0.757,5.57,-0.80,5.38,5.62
3,Cal Quantrill,CLE,5.24,3.16,1.66,0.131,0.079,0.052,0.276,1.46,0.300,0.683,4.79,0.45,5.43,5.50
4,Kyle Muller,OAK,6.55,4.56,1.44,0.151,0.105,0.046,0.339,1.96,0.372,0.676,6.14,1.46,5.50,5.47

Merge corresponding dataframes together

In [5]:
__2023Pitchers = pd.merge(__2023Standard,__2023Advanced,how = 'inner',on = 'Name')
__2022Pitchers = pd.merge(__2022Standard,__2022Advanced,how = 'inner',on = 'Name')
__2021Pitchers = pd.merge(__2021Standard,__2021Advanced,how = 'inner',on = 'Name')

Add TotalPoints, AveragePoints

In [6]:
__2021Pitchers.columns

#Calculate total fantasy points and add to dataframes
__2021Pitchers['TotalPoints'] = 3*__2021Pitchers['IP'] + 5*__2021Pitchers['W'] - 3*__2021Pitchers['L'] - __2021Pitchers['H'] - __2021Pitchers['BB'] - __2021Pitchers['HBP'] - __2021Pitchers['IBB'] + __2021Pitchers['SO'] + 5*__2021Pitchers['SV'] + 2*__2021Pitchers['HLD'] - 2*__2021Pitchers['BS'] - 2*__2021Pitchers['ER']
__2022Pitchers['TotalPoints'] = 3*__2022Pitchers['IP'] + 5*__2022Pitchers['W'] - 3*__2022Pitchers['L'] - __2022Pitchers['H'] - __2022Pitchers['BB'] - __2022Pitchers['HBP'] - __2022Pitchers['IBB'] + __2022Pitchers['SO'] + 5*__2022Pitchers['SV'] + 2*__2022Pitchers['HLD'] - 2*__2022Pitchers['BS'] - 2*__2022Pitchers['ER']
__2023Pitchers['TotalPoints'] = 3*__2023Pitchers['IP'] + 5*__2023Pitchers['W'] - 3*__2023Pitchers['L'] - __2023Pitchers['H'] - __2023Pitchers['BB'] - __2023Pitchers['HBP'] - __2023Pitchers['IBB'] + __2023Pitchers['SO'] + 5*__2023Pitchers['SV'] + 2*__2023Pitchers['HLD'] - 2*__2023Pitchers['BS'] - 2*__2023Pitchers['ER']

#Calculate average fantasy points and add to dataframes
__2021Pitchers['AveragePoints'] = __2021Pitchers['TotalPoints'] / __2021Pitchers['G']
__2022Pitchers['AveragePoints'] = __2022Pitchers['TotalPoints'] / __2022Pitchers['G']
__2023Pitchers['AveragePoints'] = __2023Pitchers['TotalPoints'] / __2023Pitchers['G']

In [7]:
__2023Pitchers.columns

Index(['Name', 'Team_x', 'W', 'L', 'ERA', 'G', 'GS', 'SV', 'HLD', 'BS', 'IP',
       'H', 'ER', 'BB', 'IBB', 'HBP', 'SO', 'Team_y', 'K/9', 'BB/9', 'K/BB',
       'K%', 'BB%', 'K-BB%', 'AVG', 'WHIP', 'BABIP', 'LOB%', 'FIP', 'E-F',
       'xFIP', 'SIERA', 'TotalPoints', 'AveragePoints'],
      dtype='object')

Drop a few columns

In [8]:
__2021Pitchers.drop(['Team_y'], axis=1, inplace=True)
__2022Pitchers.drop(['Team_y'], axis=1, inplace=True)
__2023Pitchers.drop(['Team_y'], axis=1, inplace=True)

Concatenate together

In [9]:
concatenated_df = pd.concat([__2021Pitchers,__2022Pitchers,__2023Pitchers], axis=0, ignore_index=True)

In [11]:
pd.set_option('display.max_columns', None)
concatenated_df.head()

,Name,Team_x,W,L,ERA,G,SV,HLD,BS,IP,H,ER,BB,IBB,HBP,SO,K/9,BB/9,K/BB,K%,BB%,K-BB%,AVG,WHIP,BABIP,LOB%,FIP,E-F,xFIP,SIERA,TotalPoints,AveragePoints,GS
0,Robbie Ray,TOR,13,7,2.84,32,0,0,0,193.1,150,61,52,0,4,248,11.54,2.42,4.77,0.321,0.067,0.254,0.209,1.04,0.268,0.901,3.69,-0.85,3.36,3.21,543.3,16.978125,NaN
1,Zack Wheeler,PHI,14,10,2.78,32,0,0,0,213.1,169,66,46,1,8,247,10.42,1.94,5.37,0.291,0.054,0.237,0.213,1.01,0.288,0.753,2.59,0.20,2.84,3.18,570.3,17.821875,NaN
2,Gerrit Cole,NYY,16,8,3.23,30,0,0,0,181.1,151,65,41,0,2,243,12.06,2.03,5.93,0.335,0.057,0.278,0.221,1.06,0.305,0.779,2.92,0.30,2.93,2.93,518.3,17.276667,NaN
3,Max Scherzer,2 Tms,15,4,2.46,30,0,0,0,179.1,119,49,36,0,10,236,11.84,1.81,6.56,0.341,0.052,0.289,0.184,0.86,0.247,0.843,2.97,-0.52,3.24,2.90,573.3,19.110000,NaN
4,Corbin Burnes,MIL,11,5,2.43,28,0,0,0,167.0,123,45,34,0,6,234,12.61,1.83,6.88,0.356,0.052,0.304,0.199,0.94,0.309,0.757,1.63,0.79,2.30,2.61,522.0,18.642857,NaN

Consider adding position column with SP and RP based on conditional criteria

In [ ]:
#Conditional SP or RP column titled position

Write to a csv file

In [12]:
concatenated_df.to_csv('MLBPitchers.csv', index=False)

Minor League Pitchers

In [17]:
#Import fangraph triple A data (Min 70 IP)

#International League Standard:
df11 = pd.read_csv('fangraphs-minor-league-leaders (4).csv')
#International League Advanced:
df12 = pd.read_csv('fangraphs-minor-league-leaders (5).csv')

#Pacific League Standard
df13 = pd.read_csv('fangraphs-minor-league-leaders (6).csv')
#Pacific League Advanced
df14 = pd.read_csv('fangraphs-minor-league-leaders (7).csv')

In [18]:
df11.columns

Index(['Name', 'Team', 'Level', 'Age', 'W', 'L', 'ERA', 'G', 'GS', 'CG', 'ShO',
       'SV', 'BS', 'HLD', 'IP', 'TBF', 'H', 'R', 'ER', 'HR', 'BB', 'IBB',
       'HBP', 'WP', 'BK', 'SO', 'PlayerId'],
      dtype='object')

Drop Unneccessary Columns

In [19]:
#df11.drop(['CG','ShO','TBF','R','WP','BK'], axis=1, inplace=True)
df12.drop(['Name','Team','Level','Age','ERA','IP'], axis=1, inplace=True)
#df13.drop(['CG','ShO','TBF','R','WP','BK'], axis=1, inplace=True)
df14.drop(['Name','Team','Level','Age','ERA','IP'], axis=1, inplace=True)

Merge and concatenate Data Frames

In [20]:
df15 = pd.merge(df11,df12,how = 'inner',on = 'PlayerId')
df16 = pd.merge(df13,df14,how = 'inner',on = 'PlayerId')
concatdf = pd.concat([df15,df16],axis=0, ignore_index=True)

Add total points, Average Points columns

In [28]:
concatdf['TotalPoints'] = 3*concatdf['IP'] + 5*concatdf['W'] - 3*concatdf['L'] - concatdf['H'] - concatdf['BB'] - concatdf['HBP'] - concatdf['IBB'] + concatdf['SO'] + 5*concatdf['SV'] - 2*concatdf['BS'] - 2*concatdf['ER']
concatdf['AveragePoints'] = concatdf['TotalPoints'] / concatdf['G']

Write to csv

In [30]:
concatdf.to_csv('MinorLeaguePitchers.csv', index=False)

,Name,Team,Level,Age,W,L,ERA,G,GS,CG,...,K-BB%,AVG,WHIP,BABIP,LOB%,FIP,E-F,xFIP,TotalPoints,AveragePoints
0,Drew Hutchison,TOR,AAA,32,6,6,5.628399,24,24,0,...,0.036000,0.247619,1.622357,0.289809,0.669481,5.593712,0.034687,5.908039,113.3,4.720833
1,Casey Lawrence,TOR,AAA,35,4,8,4.759616,21,21,0,...,0.129956,0.272076,1.394231,0.308682,0.678514,5.101410,-0.341794,4.865307,139.0,6.619048
2,Aaron Sanchez,MIN,AAA,30,4,4,5.301370,18,16,0,...,0.011799,0.267148,1.739726,0.304762,0.729508,6.339687,-1.038317,6.217160,67.0,3.722222
3,Jose Urena,CHW,AAA,31,2,4,5.603774,19,19,0,...,0.106965,0.280992,1.528302,0.314815,0.708191,5.678224,-0.074451,5.199368,87.3,4.594737
4,Kyle Barraclough,BOS,AAA,33,8,1,3.648649,14,13,0,...,0.055921,0.203125,1.310811,0.232432,0.800915,5.423915,-1.775267,5.842250,161.0,11.500000